// Código de Nav acá
nav {
    text-align: center;
    padding: 15px 0;
    background-color: @nav-bg;
    
      

    h1 {
        font-size: 3.2rem;
        padding: 15px;
    }
    ul {
        display: flex;
        justify-content: center;
        place-content: center;
    
        li {
            padding-left: 7px;
            padding-right: 7px;
            font-size: @btn-links;
    
            a {
                text-decoration: none;
                color: #000;
            }
               
        }
    
    }
}
